 
 <div class="contactus">

    <mat-card class="example-card" >
     <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>  mohamed salah  </mat-card-title>
       <mat-card-subtitle> web developer </mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="../../assets//images//ms.png" alt="Photo of a Shiba Inu">
     <mat-card-content style="font-size: 17px;">
       <p>
           web developer Asp.net core with angular 2 up 9 
       </p>
     </mat-card-content>
     <mat-card-actions style="font-size: 23px;">
       <a href="https://www.facebook.com/profile.php?id=100004640012147"><i class="fab fa-facebook-f"></i></a>
       &nbsp;
        <a href="https://api.whatsapp.com/send?phone=+20 101 508 2012"><i class="fab fa-whatsapp"></i></a>
     </mat-card-actions>
   </mat-card>
   
   </div>